body{
    margin: 0;
}
@font-face {
    font-family: Sofia;
    src: url(https://fonts.googleapis.com/css?family=Sofia);
    font-weight: 400 700;
}
main{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
    padding: 0.95em;
    font-size: 15px;
    width: 17em;
    font-family: Sofia;
}

img{
    border-radius: 3%;
    max-width: 100%;
}

.content{
    width: 20em;
    max-width: 100%;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
}